.main__change{
    /* position: absolute; */
    width: 100%;
    margin-top: 80px;
    padding: 20px 20px;
    /* top: 100px; */
}
.content___change{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 30px 0;
}
.content___change h2{
    font-size: 30px;
    font-weight: 700;
    color: #f31de9;
    text-align: center;
}   
.content___change__detail{
    display: flex;
    justify-content: space-around;
}
.changeItem__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.changeItem__info img{
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
.changeItem__name{
    font-size: 18px;
    font-weight: 700;
    color: #1e5bf7;
}
.changeItem__store{
    font-size: 14px;
    font-weight: 500;
}
.changeItem__action__price{
    background-color: #ffecec;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    padding: 0 20px;
}
.changeItem__price h3{
    padding: 20px 0;
    font-size: 16px;
    line-height: 16px;
}
.changeItem__price h3:nth-child(2){
    border-bottom: 2px solid #000;
}
.changeItem__price h3 span{
    color: red;
}
.btn__action{
    display: flex;
    justify-content: space-around;
}
.btn__action button{
    width: 40%;
    padding: 4px 0;
    border: none;
}
.btn__action__change {
    background-color: #2bf107;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn__action__cancle{
    background-color: #ff49e7;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn__action__change:hover {
    background-color: #23ba07;
    cursor: pointer;
    color: #fff;

}
.btn__action__cancle:hover{
    cursor: pointer;
    background-color: #f402d4;
    color: #fff;
}
.error__change{
    color: red;
    margin: 4px;
}