.main__gamedetail{
    margin:100px 0;
    width: 100%;
    padding: 0 20px;
    text-align: center;

}
.main__gamedetail iframe {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 500px;
}
.gamedetail__info{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}
.gamedetail__name{
    color: #f3914c;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.gamedetail__desc{
    font-size: 16px;
    font-weight: 500;
}
.yourScore{
    font-size: 20px;
    margin: 20px 0;

}
.yourScore span {
    font-weight: bold;
}
.submit_score{
    text-align: center;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    font-weight: bold;
}
.description__game {
    color: aqua;
}
.description__game span{
    color: #f3914c;
}