.submit_Score{
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit_info{
    background-color: pink;
    width: 40%;
    height: 50%;
    text-align: center;
    border-radius: 6px;
    padding: 20px 0;
}
.btn__score__ok{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    background-color: red;
}
.btn__score__ok:hover{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    background-color: rgb(241, 16, 226);
}