$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

#Latespost {
  background-color: white;
  padding: 16px;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: #00000047 0px 1px 3px 0px;

  /* @include tablet { 
    display
  } */
  
  .Latespost-top {
    display: flex;
    justify-content: space-between;
    
    h3 {
        font-size: 18px;
    }
    
    p {
      color: #747474d9;
      cursor: pointer;
      font-size: 14px;
    }
  }
  
  .Latespost-list {
    display: flex;
    margin-top: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    .Latespost-item {
      width: 50%;
      //   border: 1.2px solid #ec3e9e4f;
      height: fit-content;
      overflow: hidden;
      background-color: antiquewhite;
      //   border-radius: 8px;
      img {
        width: 100%;
        height: auto;
        border-radius: 14px;
        object-fit: cover;
      }
    }
  }
}
