$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

#related {
  background-color: #f1f1f1;
  width: 80%;
  overflow: hidden;
  border-radius: 14px;
  margin: 0 auto;
  //   padding: 16px;
  height: fit-content;
  //box-shadow: #00000047 0px 1px 3px 0px;

  @include mobile {     
    display: none;
  } 

  @include tablet { 
    width: 96%;
  }
}
