.cmtInput {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cmt__ava {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 6px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    form {
        
        .ant-form-item {
            margin-bottom: 0;

            .ant-input-affix-wrapper {
                border-radius: 20px;

                .ant-input {
                    font-size: 18px;
                    font-weight: 400;
                    background-color: #fff;
                    box-shadow: none;
    
                    &:focus, &:hover {
                        background-color: #fff;
                        box-shadow: none;
                    }
                }
            }

        }
    }
}