$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.modal {
    //   display: none;
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex !important;
    
    
    > div {
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        
        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 80%;
        }
        
        .modal__menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;

            .active {
                padding: 6px 10px;
                background-color: rgb(216, 216, 216);
                border-radius: 8px;
            }

            > h4 {
                cursor: pointer;
                padding: 6px;
                margin-top: 6px;
            }

            > i {
                padding: 10px;
                background-color: rgb(204, 204, 204);
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .modal__text {
            width: 100%;
            height: 100%;

            .modal__text-content {

                .modal__text-body {

                    .modal__text-avt {
                        display: flex;
                        align-items: center;
                        margin: 10px; 

                        > img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 10px;
                        }

                        > p {
                            font-size: 20px;
                            font-weight: 500;
                        }

                    }
                    
                    .modal__text-color {
                        display: flex;
                        align-items: center;
                        margin: 0 20px;
                        
                        .ant-row {
                            width: 60%;
        
                            input {
                                height: 100px;
                            }
                        }
                    }
                }

                .modal__text-footer {
                    margin-top: 100px;
                    display: flex; 
                    align-items: center;
                    justify-content: space-around;
                }
            }
        }

        .modal__img {

            .modal__text-avt {
                display: flex;
                align-items: center;
                margin: 10px; 

                > img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                > p {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .btn__upload {
                height:200px;
                width:200px;
                border-radius: 100px;
                position:relative;
                
                display:flex;
                justify-content:center;
                align-items: center;  

                border:4px solid #FFFFFF;
                overflow:hidden;
                background-image: linear-gradient(to bottom, #2590EB 50%, #8bff9e 50%);
                background-size: 100% 200%;
                transition: all 1s;
                color: #8bff9e;
                font-size:100px;
                margin: 10px auto;

                input[type='file']{

                    height:200px;
                    width:200px;
                    position:absolute;
                    top:0;
                    left:0;
                    opacity:0;
                    cursor:pointer;

                }

                &:hover{
                    background-position: 0 -100%;
                    color:#fff;

                }

            }

            .upload__img {
                width: 100%;
                height: 100%;
                text-align:center;
                margin-top: 40px;

                > img {
                    width: 60%;
                    height: 40%;
                    object-fit: cover;
                }
            }
        }
    }
}

.modal__text-input {
    margin: 0 40px;

    .ant-row {
    }

    textarea {
        white-space: normal;
        text-align: justify;
        -moz-text-align-last: center; /* Firefox 12+ */
        text-align-last: center;
    }
}