// linear-gradient(
//               to top right,
//               #d97706,
//               #db2777,
//               rgba(217, 119, 6, 0)
//             );
$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

#stories {
  //   background-color: aliceblue;
  height: fit-content;
  width: 90%;
  margin: 4px auto;
}
.controls-wrapper {
  width: 100%;
}
.carousel-wrapper {
  width: 100%;
  height: 160px;
  margin-bottom: 20px;
  //display: flex;

  .carousel-wrapper_all {
    
    .dBGcGT {

      > button {
        
        @include mobile { 
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 0;
        }

        @include tablet {
          
        }
      }
    }

    .rec-pagination {
      
      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }
  }

  @include mobile { 
    height: auto;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  @include tablet { 
    height: auto;
  }

  .story-item {
    cursor: pointer;
    position: relative;
    // padding: 0px 8px;
    text-align: center;

    .story-img {
      img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid rgba(236, 81, 162, 0.72);

        @include mobile {     
          width: 40px;
          height: 40px;
          border: 2px solid rgba(236, 81, 162, 0.72);
        } 

        @include tablet { 
          width: 50px;
          height: 50px;
          border: 2px solid rgba(236, 81, 162, 0.72);
        }
      }
    }

    .story-name {

      > p {
        font-size: 15px;
        text-align: center;

        @include mobile {
          font-size: 10px;
        }

        @include tablet {
          font-size: 12px;
        }
      }
    }

    .story-add {
      position: absolute;
      bottom: 26px;
      right: 8px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 14px;
        height: 14px;
        bottom: 14px;
        right: 0;
      }
    }
  }
}

// .rec-carousel-item:focus {
//   outline: none;
//   box-shadow: inset 0 0 1px 0px violet;
// }
