$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
.HomeScreen{
   @include mobile {
       
       flex-direction: column-reverse;
      
       width: 100% !important;
       left: 0 !important;
       padding: 0 15px !important;
   }
   .ContentCenter-Company{
      
    //    .hihi{
    //        width: 100%
    //    }
        @include mobile {
            overflow: unset;
            width: 100%;
            padding-right: 0;
            margin-top: 25px;
        }
   }
   .right_sideBar{
    background-color: #fafafa;
    overflow: hidden;
    border-radius: 14px;
       @include mobile {
       
        width: 100%;
        padding: 20px 9px;
        height: auto;
        overflow: unset;
        background-color: #fafafa;
        border-radius: 14px;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
       }
   }
}