.group { 
    width: 1000px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    overflow: hidden;
    margin-bottom: 30px;

    .group__banner {
        width: 100%;
        position: relative;
        padding: 0;
        height: 250px;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
    }   

    .group__content {
        font-size: 16px;
        padding: 24px 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.02rem solid #d4d4d4;

        .group__content-info {

            > h2 {
                font-weight: 600;
            }
            > p {
                font-size: 16px;
                color: #9c9c9c;
            }
        }

        .group__content-members {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            .group__content-members--count {
                display: flex;
                align-items: center;

                > img {
                    width: 40px;
                    height: 40px;
                    border-radius: 9999px;
                    border: 1px solid #d3d3d3;
                }

                > div {
                    width: 40px;
                    height: 40px;
                    background-color: #fee2e2;
                    color: #ef4444;
                    border-radius: 99999px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                }
            }

            .group__content-members--join {
                margin-left: 24px;
                padding: 8px 18px;
                background-color: #0084ff;
                color: #fff;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    .group__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;

        .group__nav-list {
            display: flex;
            list-style: none;
            margin: 0;

            .group__nav-item {
                font-size: 16px;
                font-weight: 600;
                
                > a {
                    color: #000;
                    line-height: 1.4;
                    padding: 16px 20px 16px;
                    display: block;
                    width: 100%;
                }
            }

            .active {
                border-bottom: 3px solid #2a41e8;
            }
        }

        .group__nav-search {
            margin-right: 20px;
            width: 40px;
            height: 40px;
            background-color: #f3f4f6;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}