.ManageCompanyScreen {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
    align-items: flex-start;
    left: 6%;
    width: 94%;
    margin: 30px 50px 0 50px;
    overflow: scroll;
    .container_manage {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: start;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        .header_company {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            img {
                width: 150px;
                height: 150px;
                overflow: hidden;
                border: 1px solid #aaa;
                border-radius: 10000px;
            }
            .content_header_company {
                margin: 10px 30px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                position: relative;
                .btn_upload {
                    position: relative;
                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        z-index: 5;
                    }
                    button {
                        
                        border: unset !important;
                        background-color: transparent;
                        color: #1756e8;
                    }
                }
                .submit_upload {
                    position: absolute;
                    z-index: 10;
                }
                
            }
        }
        .main_company {
            width: 80%;
            position: relative;
            height: fit-content;
            margin: 50px 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            .list_item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                button {
                    border: unset !important;
                    background-color: transparent;
                    color: #26e526;
                    font-weight: 700;
                    font-size: 18px;
                }
                button:hover {
                    color: rgb(219, 27, 27) !important;
                    font-weight: lighter !important;
                }
                div:first-child {
                    position: relative;
                    margin: 10px 0px;
                }
                div:first-child::after {
                    content: '';
                    width: 100%;
                    border-bottom: solid 1px #888;
                    position: absolute;
                    left: 0;
                    bottom: 1px;
                    height: 2px;
                    z-index: 1;
                    color: #888;
                    font-weight: 600;
                }
                .item_data {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    margin: 5px 15px;
                    color: #999;
                    img {
                        width: 32px;
                        height: 32px;
                        overflow: hidden;
                        object-fit: cover;
                        border-radius: 1000px;
                        border: 1px solid #aaa;
                        margin: 0 5px;
                    }
                }
            }
        }
        .all_cico {
            margin: 50px 50px 50px 0;
            width: 100%;
            position: relative;
            .chart_data {
                width: 60%;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .list_table {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 30px;
            border: 1px solid #aaa;
            background-color: rgba(180, 180, 180, 0.6);
            border-radius: 4px;
            width: 50%;
            h5 {
                color: white;
                margin: 0 !important;
            }
            .title_table_data {
                    text-align: center;
                    background-color: #022046;
                    padding: 10px 20px;
                    border-bottom: 1px solid #aaa;
                    color: white;
            }
            .each_cico {
                border-bottom: 1px solid #aaa;
                padding: 10px;
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .main_content {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    .name_each {
                        width: 35%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .total_time {
                        width: 35%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p {
                        margin: 0 15px !important;
                        color: #022046 !important;
                    }
                }
            }
        }
    }
    
}