/* .wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register {
    margin: 0 auto;
    width: 660px;
    padding: 60px;

    p {
        font-size: 18px;
        margin: 0 0 8px;
    }

    form {

        .register__name {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
            
            > input {
                width: 100%;
                padding: 14px 20px;
                background-color: #e5e7eb;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 20px;
                outline: none;
            }

            > input:last-child {
                margin-left: 10px;
            }
        }

        > input {
            display: block;
            width: 100%;
            background-color: #e5e7eb;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            margin: 0 0 8px;
            padding: 14px 20px;
            font-size: 20px;
        }

        .register__help {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            align-items: center;
    
            .form-check {
                margin: 16px 0;
    
                .form-check-input {
                    padding: 0;
                    margin-bottom: 0;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    border-color: #be185d;
                    background-color: transparent;
                    transition: 0.3s;
                    border: 2px solid #b4b4b4;
                    margin-right: 5px;
    
                    &:checked {
                        background-color: #be185d;
                    }
                }
        
                .form-check-label {
                    margin: 0;
                }
            }
        }

        .register__button {
            background-image: linear-gradient(to bottom right, #ec4899, #f87171);
            border: none;
            outline: none;
            padding: 12px 0;
            width: 100%;
            border-radius: 8px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 16px;
        }
    }

    .register__login {
        text-align: center;
        font-size: 18px;
    }
} */

.sex__radio {
    font-size: 20px;
    font-weight: 500;
    margin-right: 16px;
}
.RegisterScreen {
    position: relative;
    .bg_img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -5;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}