.main__player{
    width: 100%;
    margin-top: 90px;
    background-color: #f1f1f1;
    padding: 10px 20px;
}
.content__player{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.player__info{
    width: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 20px;
}
.player__info img{
    max-width: 90px;
    width: 100%;
}
.player__namesex{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin: 10px;
    text-align: left;
}
.player__namesex p {
    width: 30%;
    /* font-size: 16px; */
    font-weight: 700;
}
.player__namesex span {
    color: #a30000;
}
.player__namesex h2 {
    font-size: 20px;
    line-height: 10px;
    width: 30%;
    line-height: 16px;

}
.player__namesex p {
    font-size: 14px;
    line-height: 1.6;

}
.row__result {
    /* width: 94%; */
    margin:  0 !important;
}
.listrowinfo{

    padding: 0 !important;
}
.row__result .col-xs-12.col-md-8 .col-sm-12{
    background-color: #fff;
    margin: 10px 0;
    border-radius: 10px;
}
/* .col-sm-12.user__infor:last-child{
    padding: 20px 0;
} */
.user__infor__player{
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding-top: 10px;
}
.game__info__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 10px;
    margin: 0;
}
.game__info__item{
    margin: 0 10px;
    text-align: center;
}
.game__info__item p{
    font-size: 12px;
    font-weight: bold;
}
.game__info__item img{
    max-width: 66px;
    width: 100%;;
    height: 66px;
}
.friend__info__list{
    display: flex;
    list-style-type: none;
    padding: 10px 10px;
    margin: 0;
}
.friend__info__item{
    margin: 0 10px;
    text-align: center;
}
.friend__info__item img{
    max-width: 66px;
    width: 100%;;
    height: 66px;
}
.friend__info__item p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(10, 129, 207);
}
.row.row__comment{
    margin: 10px 0;
    padding: 0;
    /* width: 94%; */
    display: none;

}
.row{
    --bs-gutter-x: 0 !important;

}
.row.row__comment .col-sm-9{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
}
.comment__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* text-align: center; */

}
.comment__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.comment__item p{
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}
.comment__item i{
    font-size: 20px;
    color: #ccc;
}


.info_favori__video_list{
    background-color: #fff; 
    margin: 10px 0 10px 40px;
    border-radius: 10px;
}
.info_favori__video{
    border-bottom: 1px solid #ccc;

}
.favori__video__title{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: 700;
    padding-top: 10px;
}
.info_favori__video p{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #9d9d9d;
    font-weight: 400;
}
.info_favori__video h4{
    padding: 50px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #9d9d9d;
}
.favori__category{
    /* margin: 10px; */
}
.favori_category__title{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: 700;
    padding-top: 10px;
}
.favori_category__list{
    list-style-type: none;
    padding-bottom: 20px;
}
.favori_category__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}
.favori_category__item img{
    max-width: 80px;
    width: 100%;
}
.category__item__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.favori_category__love{
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    margin-top: 4px;
    padding: 2px;
    border-radius: 4px;
}
.favori_category__love i{
    color: #333;
}
.favori_category__love p{
    margin-left: 2px;
    color: #000;
    font-size: 12px;
}
.favori_category__item i{
    font-size: 16px;
}
.category__item__name{
    font-size: 12px;
    font-weight: bold;
}
.favori_category__love:hover{
    background-color: #ccc;
}
.infor_user_score ,.add_friend{
    background-color: #fff; 
    margin: 10px 0 10px 40px;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.user__title__score{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

}
.user__title__score h2{
    margin: 10px;
    font-size: 14px;
    font-weight: 700;
}
.user__title__score h2 span{
    margin: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
}
.user__title__score p{
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.history__score{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
}
.history__score li{
    display: flex;
    margin: 10px;
}
.score__game__play{
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
}
.score__game{
    font-size: 12px;
    color: #333;
    font-weight: 300;
}
.name__game{
    color: #000;
    font-weight: bold;
    margin-left: 2px;
}
.date_played{
    margin-left: 2px;
    color: #ccc;
}
.find__score{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.find__score i{
    color: #d60000;
    margin-top: 10px;
    font-size: 20px;
}
.find__score p{
    color: #d60000;
    margin-bottom: 10px;
}
.find__score button{
    color: #fff;
    background-color: #d60000;
    border: none;
    padding: 6px 8px;
    margin: 0 40px;
    border-radius: 6px;
}
.find__score button:hover{
    background-color: #a30000;
}
/* .add_friend{
    background-color: #fff; 
    margin: 10px 10px 10px 40px;
    border-radius: 10px;
    padding-bottom: 20px;
} */
.add_friend h2{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.add_friend__list{
    list-style-type: none;
}
.add_friend__item{
    display: flex;
    margin: 10px 0;
    /* align-items: center; */
}
.add_friend__item img{
    width: 100%;
    max-width: 66px;
    margin-right: 4px;
}
.friend__item__info{
    margin: 0 4px;
}
.friend__item__info h5{
    font-size: 12px;
    font-weight: bold;
}
.friend__item__info p{
    font-size: 10px;
    font-weight: bold;
    color: #9d9d9d;
}
@media screen and (max-width: 1000px) {
    .player__namesex h2{
        
        width: 40%;
    }
    .player__namesex p {
        width: 50%;
        font-size: 14px;
        font-weight: 700;
    }
    .col-xs-12.col-md-4.user_info_favori{
        padding: 0 !important;
        margin: 0 !important;
    }
    .info_favori__video_list{
        margin: 10px 0 !important;

    }
    .add_friend, .infor_user_score{
        margin: 10px 0 !important;

    }
}
@media screen and (max-width: 768px) {
    .player__info img{
        width: 100%;
        max-width: 160px;
    }
    .player__namesex h2{
        margin: 10px 0;
        width: 100%;
    }
    .player__namesex p {
        margin: 10px 0;
        width: 100%;
        font-size: 11px;
        font-weight: 600;
    }
    
}
