.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px 100px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;
    
    @media (max-width: 576px) {
        padding: 8px 100px;
        justify-content: space-around;
    }
}

.button {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    .button__login {
        margin-right: 12px;
        padding: 12px 24px;
        div {
            cursor: pointer;
            color: #9e8870;
            &:hover {
                color: #333;
            }
        }
    }

    .button__register {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        div {
            border-radius: 8px;
            background-color: #ec4899;
            padding: 12px 24px;
            cursor: pointer;
            color: #fff;
            &:hover {
                color: #333;
            }
        }
    }
}