$primaryColor: #aaa;
$primaryPadding: 4px;
$primaryBorder: 1px solid #aaa;
$textColor: #707070;

$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

iframe {
  display: none;
}

// .SideBarNew {
//     z-index: 10;
//     background-color: #fff;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: calc(100% - 80px);
//     width: 60px;
//     display: flex;
//     flex-direction: column;

//     .header_side_bar {
//         display: flex;
//         flex-direction: column;
//         justify-self: space-around;
//         border-bottom: $primaryBorder;
//         .img_side_bar {
//             margin-left: auto;
//             margin-right: auto;
//             width: 42px;
//             height: 42px;
//             border-radius: 100000px;
//             border: 2px solid #429a17;
//             overflow: hidden;
//             img {
//                 object-fit: cover;
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//         div:first-child {
//             display: block !important;
//             text-align: center;
//             p {
//                 color: $textColor;
//             }
//         }
//         div {
//             display: none;
//         }
//     }

//     .nav_side_bar {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         padding: $primaryPadding*2;
//         border-bottom: $primaryBorder;
//         div {
//             width: 100%;
//             margin: 12px;
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             cursor: pointer;
//             color: $textColor;

//             div:first-child {
//                 display: block !important;
//             }
//             div {
//                 display: none;
//             }
//         }
//         div:hover {
//             color: #429a17;
//         }
//     }
// }

@include desktop {
  .SideBarNew:hover {
    width: 20%;
    transition: all 0.4s linear;
    //background-color: #fff0f594;
  
    //   .header_side_bar {
    //     .img_side_bar {
    //       width: 150px;
    //       height: 150px;
    //       transition: 1s width;
    //       border: 5px solid #429a17;
    //       overflow: hidden;
    //     }
    //     div {
    //       display: block !important;
    //       text-align: center;
    //       p {
    //         color: $textColor;
    //       }
    //     }
    //   }
  
    .nav_side_bar {
      .item {
        justify-content: flex-start;

        &:hover {
          border: 2px solid #eaa8cc;
        }
        .name_item {
          display: block !important;
        }
        div:hover {
          color: #429a17;
        }
      }
    }
  }
}


$primaryColor: #aaa;
$primaryPadding: 4px;
$primaryBorder: 1px solid #aaa;
$textColor: #707070;

.SideBarNew {
  //   z-index: 10;
  background-color: white;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  bottom: 0;
  top: 3%;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  // height: calc(100% - 70px);
  width: 6%;
  display: flex;
  flex-direction: column;
  z-index:  9999;

  @include mobile {
    width: 70%;
    transition: all 0.4s linear;
    top: 0;
  }

  @include tablet {
    width: 20%;
  }

  //   .header_side_bar {
  //     display: flex;
  //     flex-direction: column;
  //     justify-self: space-around;
  //     border-bottom: $primaryBorder;
  //     .img_side_bar {
  //       margin-left: auto;
  //       margin-right: auto;

  //       overflow: hidden;
  //       img {
  //         width: 150px;
  //         height: 150px;
  //         transition: all 0.5s width;
  //         border: 5px solid #429a17;
  //         overflow: hidden;
  //         border-radius: 100000px;
  //         object-fit: cover;
  //         width: 100%;
  //         height: 100%;
  //       }
  //     }
  //     div {
  //       display: block !important;
  //       text-align: center;
  //       p {
  //         color: $textColor;
  //       }
  //     }
  //   }

  .nav_side_bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 19px;
    // border-bottom: 1px solid #aaa;
    @include mobile {
        padding: 18px 19px;
    }
    @include tablet {
    }

    .item {
      display: flex;
      background-color: #e790c01a;
      border-radius: 14px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border: 2px solid #cccccc21;
      margin: 8px 0px;
      padding: 10px;
      
    }

    .icon_item {
      padding: 0px 8px;
      display: flex;

      @include tablet {
        padding-left: 0;
      }
      
      i {
        font-size: 25px;

        // &:first-child {
        //   color: #eb2f96;
        // }
      }

      i.bxs-home {
        color: #eb2f96;
      }
      
      i.bxs-conversation {
        color: #0d5ccb;
      }
      
      i.bxs-store {
        color: #891ac4;
      }
    }
    .name_item {
      display: none;

      @include mobile {
        display: block;
      }

      @include tablet {
        display: block;
      }
    }

    .top-bar-search {
      width: 100%;
      border-radius: 19px;
      align-items: center;
      border: 1px solid #eb2f9696;
      background-color: #e5e7eb;
      overflow: hidden;
      display: none;

      @include mobile {     
        display: flex;
      }   
      
      > form {
        width: 100%;
        overflow: hidden;
        
        .ant-row {
          margin-bottom: 0;

          .ant-input {
            width: 95%;
            border: none;
            outline: none;
            box-shadow: none;
            margin: 0 8px;
            padding: 0;
            font-size: 16px;
            
            &:focus, &:hover {
              border: none;
              outline: none;
              box-shadow: none;
            }
          }
        }
        
      }
      
      &:hover {
        //border: 1px solid rgba(236, 72, 153, 1);
      }
    }

    .search_user_board {
      width: 100%;
      max-height: 200px;
      overflow: hidden;

      .each_user_search {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 20px;
      }
    }
  }
}
