$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.ListFriendOnl {
  //   z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 3%;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  bottom: 0;
  right: 0;
  width: 80px;
  // height: calc(100% - 70px);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // margin-bottom: -101%;
  // padding-bottom: 101%;

  @include mobile {     
    display: none;
  } 

  @include tablet {
    display: none;
  }

  .each_friend {
    margin: 10px 0px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .avt_friend {
      width: 48px;
      height: 48px;
      border-radius: 100000px;
      border: 2px solid #eb2f96;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    div:first-child {
      display: block !important;
      text-align: center;
    }
    div {
      display: none;
      cursor: pointer;
    }
  }
}

.ListFriendOnl:hover {
  width: 200px;
  border: 2px solid #d9d9d9c7;
  transition: 1s width;
  overflow: scroll;
  //   background-color: #fff0f594;
  .each_friend {
    div {
      display: block !important;
      text-align: center;
      color: black;
    }
  }
}
