.Comment {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 90%;
    padding: 8px;
    overflow: hidden;
    .delete_btn {
        display: none;
        cursor: pointer;
        color: red;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    .avt_comment {
        
        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 100000px;
            border: 1px solid #ddd;
            overflow: hidden;
        }
    }
    .content_comment {
        position: relative;
        margin-left: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
        .main_content_comment {
            position: relative;
            background-color: #e9e9e9;
            border-radius: 6px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .user_comment {
                font-weight: 600;
            }

            .favorite {
                position: absolute;
                bottom: -10px;
                right: 0;
                margin-left: 8px;
                color: red;
                display: flex;
                flex-direction: row;
            }
        }
        
        .sub_content_comment {
            margin-top: 4px;
            font-size: 12px;
            color: #ddd;
        }
    }
}
.Comment:hover {
    .delete_btn {
        display: block;
    }
}