$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.FormUploadMedia {
    width: 100%;
    margin-top: 16px;
    position: relative;
    
    form {
        
        .btn__upload, .btn__cam, .btn__tag {
            width: 100%;
            cursor: pointer;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 14px;

            @include mobile {     
                flex-direction: column;
            } 

            &:hover {
                background-color: rgba(0, 0, 0, 0.1)
            }

            input {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 30%;
                opacity: 0;
                z-index: 5;
            }

            i {
                margin-right: 4px;
                font-size: 12px;
                cursor: pointer;
                font-size: 24px !important;
                color: green;
            }
        }
        input[type='submit'] {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 5px 25px;
            border-radius: 12px;
            background-color: #eee;
            font-weight: 600;
            font-size: 18px;
            color: #24e7aa;
            font-style: italic;
            border: 1px solid #ccc;
            cursor: pointer;
        }
    }

    img {
        width: 155px;
        height: 100px;
        opacity: 0.75;
        object-fit: cover;
        overflow: hidden;
        border-radius: 8px;
    }
}
