$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.modal {
  //   display: none;
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex !important;

  .modal-content {
    background-color: #fefefe;
    margin: 80px auto;
    width: 550px;
    position: relative;
    border-radius: 14px;
    height: 500px;
    display: block !important;
    padding: 25px;
    border: 1px solid #888;
    .modal__content-top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e8dddd;
      h2 {
        margin-bottom: 8px;
        font-size: 18px;
      }
      i {
        font-size: 32px;
        cursor: pointer;
        color: #a7a7a7e6;
      }
    }
    .modal__content-body {
      margin-top: 30px;
      height: 190px;
      width: 100%;
      //background-color: antiquewhite;

      .modal__content-avt {
        display: flex;
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 12px;
        }
        .modal__content-input {
          border-width: 0;
          border-style: solid;
          flex: 1 1 0%;
          padding-top: 4px;
          // background-color: aliceblue;
          textarea {
            border: none;
            height: auto;
            min-height: 130px;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.75rem;
            padding: 3px 0px 0px 8px;
            resize: none;
            overflow: auto;
            text-transform: none;
            border-radius: 10px;
          }
        }
      }
      .modal__content-addFile {
        margin-top: 8px;
        display: flex;
        padding: 20px 14px;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #e9dcec;

        background-color: rgba(249, 250, 251, 1);
        border-radius: 12px;
        ul.modal__content-addList {
          list-style: none;
          padding-left: 0;
          padding-right: 20px;
          margin-bottom: 0;
          align-items: center;
          display: flex;
          li {
            cursor: pointer;
            margin: 0px 6px;
            font-size: 17px;
            border-radius: 18px;
            padding: 2px 7px;
            border: 1px solid #ccc;
            .icon {
              margin-left: 0;
            }
            .icon.i-photo-album {
              i {
              }
            }
            .icon.i-tag-alt {
              i {
              }
            }
          }
        }
      }
    }
    .modal__content-footer {
      position: absolute;
      bottom: 0;
      padding: 0px 17px 17px 0px;
      right: 0;
      button {
        cursor: pointer;
        border-radius: 8px;
        padding: 5px 20px;
        color: white;
        background-color: rgba(37, 99, 235, 1);
        border: none;
        &:first-child {
          background-color: #1cbd21c4;
          padding: 5px 10px;
          margin-right: 14px;
        }
      }
    }
  }
}
