$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.post-create {
  // overflow: hidden;
  //   margin-top: 25px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  height: auto;
  box-shadow: #00000047 0px 1px 3px 0px;
  color: #666666;
  font-size: 15px;
  line-height: 22.5px;
  padding: 16px;
  text-align: left;

  .post__create-top {
    display: flex;
    align-items: center;
    .post__create-avt {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .post__create-input {
      flex: 1;
      margin-left: 15px;
      input {
        width: 100%;
        padding: 10px 15px;
        border-radius: 15px;
        outline: none;
        color: #666666;
        border: none;
        background-color: #e8e8e8b8;
        &:focus {
          border: 1px solid #ec4899;
        }
      }
    }
  }
  ul.post__create-activity {
    display: flex;
    list-style: none;
    transform: translateY(18px);
    justify-content: space-around;
    padding-left: 0;
    li {
      align-items: center;
      display: flex;
      .icon-createPost {
        width: 38px;
        position: relative;
        border-radius: 19px;
        height: 38px;
        margin-left: 0 !important;
        margin-right: 8px;
        i {
          transform: translateX(-50%);
          position: absolute;
          left: 50%;
          font-weight: 500;
          //color: #2563eb;
          top: 10px;
          font-size: 21px;
        }
      }
      .icon-createPost.ic-photo-album {
        background-color: rgba(219, 234, 254, 1);
      }
      .icon-createPost.ic-tag-alt {
        background-color: #d1fae5;
      }
      .icon-createPost.ic-smile {
        background-color: #fee2e2;
      }
      p {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
