$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.story {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9;
    display: flex;

    .story__left {
        width: 25%;
        height: 100%;
        padding: 12px;
        
        .story__left-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 0;

            > h2 {
                margin: 0;
                font-size: 16px;
            }

            > span {
                margin-right: 16px;
                font-size: 18px;
                color: #4186f0;
                
            }
        }

        .story__left-all {
            width: 100%;
            height: 100%;
            overflow: scroll;

            > h3 {

                @include tablet {
                    display: none;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .story__left-create {
                display: flex;
                align-items: center;
                border-radius: 6px;

                @include tablet {
                    display: none;
                }

                &:hover {
                    background-color: #f3f4f6;
                    cursor: pointer;
                }

                > i {
                    width: 48px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #e5e7eb;
                    color: #4f8ef5;
                    border-radius: 50%;

                }
            }

            .story__left-friend {
                display: flex;
                align-items: center;
                padding: 8px;
                border-radius: 6px;
                
                .story__left-friend--ava {
                    width: 50px;
                    height: 50px;
                    margin-right: 14px;
                    border-radius: 50%;
                    border: 3px solid rgb(72, 72, 255);
                    
                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 1px solid rgb(203, 203, 203);
                        
                    }
                }

                &:hover {
                    background-color: #f3f4f6;
                    cursor: pointer;
                }
            }
        }
    }

    .story__right {
        width: 100%;
        background-color: #f1f3f4;
        display: flex;
        justify-content: center;
        position: relative;

        .story__right-close {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 30px;
            right: 50px;
            background-color: #dcdcdc;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 9999;
        }

        .story__right-reel {
            width: 29%;
            height: 80%;
            margin-top: 10px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            @include tablet {
                width: 60%;
            }

            .story__right-img {
                width: 100%;
                height: 100%;
                background-color: #d2cccd;

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .story__right-text {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                

            }

            .story__right-time {
                height: 2px;
                width: 93%;
                border-width: 1px;
                background-color: gray;
                position: absolute;
                top: 18px;
                margin-left: 10px;
            
                /* .story__right-active {
                    height: 100%;
                    width: 100%;
                    background-color: #fff
                } */
            }

            .story__right-info {
                position: absolute;
                top: 12px;
                left: 0;
                padding: 15px;
                width: 90%;
                display: flex;
                align-items: center;

                .story__right-img {
                    border-radius: 99999px;
                    width: 30px;
                    height: 30px;
                    overflow: hidden;
                    margin-right: 6px;

                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: center;
                    }
                }

                .story__right-name {
                    display: flex;
                    align-items: center;

                    > h4 {
                        font-size: 14px;
                        margin: 0;
                        color: #fff;
                        margin-right: 6px;
                    }

                    > span {
                        color: #fff;
                        font-size: 10px;
                    }
                }
            }
        }

        .story__right-change {
            align-items: center;
            justify-content: space-around;
            display: flex;
            width: 100%;
            position: absolute;

            .story__right-prev,
            .story__right-next {
                width: 50px;
                height: 50px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
            }

            .story__right-prev {
                position: absolute;
                top: 260px;
                left: 20%;

                @include tablet {
                    top: 300px;
                    left: 5%;
                }
            }

            .story__right-next {
                position: absolute;
                top: 260px;
                right: 22%;

                @include tablet {
                    top: 300px;
                    right: 5%;
                }
            }

            .hidden {
                display: none;
            }
        }

        .story__right-mess {
            position: absolute;
            bottom: 80px;
            width: 40%;
            
            .story__right-input {
                border-radius: 20px; 
                overflow: hidden;
                
                .ant-input {
                    background-color: #fff;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }
}