.depotNotify__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.depotNotify__request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
    /* height: 20%; */
    margin: 100px auto;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 4px;
}
.depotNotify__request h5{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.depotNotify__request--img{
    width: 100%;
    text-align: center;
}
.depotNotify__request--img img{
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
    /* text-align: center; */
}
.depotNotify__request h5 span{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    color: red;
}
.depotNotify__request .btn__action{
    padding: 10px 0;
}