.form__password--security{
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
.form-security{
    width: 100%;
    background-color: aquamarine;
    padding: 10px 10px;
    border-radius: 4px;
}
.form-security h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #ff0505;
}
.form-inputPassworld{
    font-size: 16px;
    font-weight: bold;
}
.form-inputPassworld p{
    margin: 10px;
}
.btn__action--security{
    display: flex;
    justify-content: center;
}
.btn__action--security div {
    margin: 10px 10px;
}
.form-security__lock{
    background-color: #7fa7ff;
}
.error__lock{
    color: red;
    font-size: 16px;
    font-weight: 700px;
    text-align: center;
}
/* .form-btn__accept  */