.all__items h2{
    padding-top: 20px;
}
.security__item {
    width: 100%;
    margin: 20px 0;
    background-color: #fff9f9;
    padding: 10px 4px;
    border-radius: 4px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* margin: 0 auto; */
}
.security__item--action{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn-btn__security{
    padding: 6px 4px;
    background-color: #646bf2;
    border: none;
    list-style-type: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 4px;
}
.btn-btn__security:nth-child(2){
    background-color: #eeebaa;
}
.btn-btn__security:nth-child(3){
    background-color: #aaeeb1;
}
.btn-btn__security:nth-child(4){
    background-color: #aae7ee;
}
.btn-btn__security:nth-child(5){
    background-color: #f2646c;
}
.btn-btn__security:hover{
    background-color: #f17070;
    color: #fafafa;
}
.items__list__depot{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
}
.items__list__depot li{
    /* width: 20%; */
    text-align: center;
    background-color: #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}
.depot__item_img{
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}
.depot__item_name{
    font-size: 20px;
    margin: 6px 0;
    color: rgb(237 3 3 / 85%);

}
.depot__item_qty{
    font-size: 16px;
    margin-bottom: 6px;
}
.depot__item_qty span{
    font-weight: bold;
}
.all__itemsNFT__socre{
    width: 100%;
    max-width: 1200px;
    margin: 10px 0;
    background-color: #edc6d1;
    border-radius: 8px;
}
.all__itemsNFT__socre h2 {
    padding-top: 20px;
    color: rgb(45 63 227)
}
.items__list__depot__store{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}
.items__list__depot__store li {
    text-align: center;
    background-color: #e9aaee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}
.btn__action button{
    font-weight: bold;
    width: 44%;
}
.depot__item_score{
    font-size: 16px;
    margin-bottom: 6px;
}
.depot__item_score span{
    font-weight: bold;
}
.create_passSecurity{
    background-color: #e99cc5;
    width: 60%;
    /* height: 100%; */
    margin: 100px auto;
    text-align: center;
}
.create_passSecurity h2{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;

}
.create_passSecurity button{
    margin-bottom:10px ;
    background-color: #eeebaa;
    padding: 8px 4px;
}
.create_passSecurity button:hover{
    background-color: #e8e13e;
}