//* header
$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

iframe {
  display: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  height: 70px;
  z-index: 1030;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: #fff;
  color: hsla(0, 0%, 100%, 0.8);

  .top-bar {
    display: flex;
    align-items: center;
    height: 100%;

    //position: relative;
    .top-left-bar {
      display: flex;
      padding-left: 25px;
      align-items: center;
      width: 20%;

      @include mobile {     
        width: 100%;
        justify-content: space-between;
      } 

      @include tablet {
        padding-left: 0;
        margin-right: 50px;
      }

      > i {
        display: none;

        @include mobile {     
          display: flex; 
        }    
      }

      .top-bar-logo {
        img {
          width: 130px;
          height: 70px;
          margin-left: 10px;

          @include mobile {     
            width: 80px;
            height: 46px;
          }   
        
        }
      }
    }
    .top-bar-list {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 80%;
      
      .top-bar-search {
        width: 50%;
        border-radius: 19px;
        display: flex;
        align-items: center;
        border: 1px solid #eb2f9696;
        background-color: #e5e7eb;
        overflow: hidden;

        @include mobile {     
          display: none;
        }   
        
        > form {
          width: 100%;
          overflow: hidden;
          
          .ant-row {
            margin-bottom: 0;

            .ant-input {
              width: 95%;
              border: none;
              outline: none;
              box-shadow: none;
              margin: 0 8px;
              padding: 0;
              font-size: 16px;
              
              &:focus, &:hover {
                border: none;
                outline: none;
                box-shadow: none;
              }
            }
          }
          
        }
        
        &:hover {
          //border: 1px solid rgba(236, 72, 153, 1);
        }
      }

      .top-bar-list__icon {
        align-items: center;
        right: 40px;
        display: flex;
        bottom: 0;
        top: 0;
        position: absolute;

        button {
          background-color: rgba(236, 72, 153, 1);
          align-items: center;
          display: flex;
          padding: 6px 14px;
          border-radius: 10px;
          border: none;

          p {
            font-size: 15px;
            margin: 0 0 0 3px !important;
          }

          @include mobile {     
            display: none;
          }   
        }

        ul {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          //margin-left: -20px;
          list-style: none;

          li {
            padding: 0px 18px;
            font-size: 16px;
            cursor: pointer;

            @include mobile {     
              padding: 0px;
            }  

            .bx {
              line-height: unset;
            }
            
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 1px solid rgba(236, 72, 153, 1);
            }

            &:nth-child(1), &:nth-child(2) {
              @include mobile {     
                display: none;
              }  
            }

            .user__noti {
              position: absolute;
              bottom: 10px;
              right: 2px;
              width: 10px;
              height: 10px;
              background-color: #e41e3f;
              border-radius: 50%;
              border: 1px solid #fff;

              @include desktop {
                display: none;
              }

              @include tablet {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .notifications_board {
    position: absolute;
    top: 90%;
    right: 100px;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 15px;
    background-color: #fff;
    width: 250px;
    max-height: 500px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .header_noti {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: red;
      margin-bottom: 4px;

      > div {
        cursor: pointer;
      }

      .active {
        padding: 6px 10px;
        background-color: rgb(232, 232, 232);
        border-radius: 8px;
      }
    }

    .list_noti {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .each_noti {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
          border-radius: 6px;
          cursor: pointer;
        }

        .main_each_noti {
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          justify-self: center;
          font-size: 12px;
          color: #aaa;

          p:first-child {
            color: black;
            font-size: 14px;
          }
          
          .request_add_friend {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            button {
              padding: 5px 15px;
              border: 1px solid #aaa;
              background-color: #59cd75;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .search_user_board {
    width: 40%;
    height: 300px;
    position: absolute;
    top: 70px;
    left: 20%;
    background-color: white;
    border: 1px solid #aaa;
    
    .each_user_search {
      color: black;
      border-bottom: 1px solid #aaa;
      padding: 5px 15px;
      cursor: pointer;
    }
  }

  //* Dropdown
  .header-dropdown {
    position: absolute;
    top: 90%;
    border: 1px solid #d7caca;
    height: fit-content;
    border-radius: 8px;
    width: 260px;
    background-color: white;
    right: 8px;

    .header-dropdown-top {
      display: flex;
      /* background-color: antiquewhite; */
      padding-left: 12px;
      border-bottom: 1px solid #d4c7c75e;
      padding-top: 8px;
      align-items: center;
      .dropdown-top-avt {
        img {
          width: 44px;
          border-radius: 48%;
          margin-right: 10px;
          height: 44px;
        }
      }
      .dropdown-top-profle {
        cursor: pointer;
        h3 {
          color: #565656eb;
          font-size: 16px;
        }
        p {
          color: #636262ad;
          margin-top: -4px;
          margin-bottom: 6px;
        }
      }
    }
  }
  ul.header-dropdown-body {
    color: #565656eb;
    margin-top: 10px;
    list-style: none;
    padding: 0 18px;

    li {
      padding: 8px 0px;
      align-items: center;
      display: flex;
      cursor: pointer;

      &:nth-child(1) {
        display: none;

        .noti__cico {
          margin-left: 8px;
          color: rgb(72, 243, 149);
        }

        @include mobile {
          display: flex;
          color: rgb(72, 243, 149);
        }
      }
    
      &:nth-child(2) {
        display: none;

        > a {
          display: flex;
        }

        @include mobile {
          display: block;
        }
      }

      .noti__count {
        color: red;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        
      }
    }

    i {
      font-size: 24px;
    }

    p {
      font-size: 15px;
      margin-left: 8px !important;
    }
  }
}

//* resonsive
