.addGame__Home{
    margin:100px 0;
    width: 100%;
    
}
.add__Form{
    display: flex;
    align-items: center;
    flex-direction: column !important;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* text-align: center; */
}
.add__Form__title{
    font-size: 30px;
    /* background-color: none; */
    font-weight: bold;
    color: #ea0000;
}

.form-addgame{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50%;
    background-color: #ccc;
    /* text-align: center; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.success__form__addGame{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}
.form-inputGame{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-inputGame p{
    width: 40%;
    font-size: 12px;
    font-weight: 600;
}
.input__nameGame{
    width: 100%;
    margin: 0  !important;
}
.form-btnGame{
    text-align: center;
}
.btn-submit{
    border: none;
    margin: 10px 0;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #ea0000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.btn-submit:hover{
    background-color: #a30000;
}

@media screen and (max-width: 992px) {
    .form-addgame {
        width: 80%;
    }
}