$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
#InforUser{
    background-color: #fafafa;
    padding: 30px 30px;
    border-radius: 14px;
    margin-top: 25px;
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @include mobile {
        padding: 25px 16px;
    }
    .inf-curent{
        h3{
            font-size: 19px !important;
            color: #777777db;
            @include mobile {
                font-size: 17px !important;
                text-align: center;
            }
        }
        .your-infor-list{
            //border: 1px solid #d5d5d5a6;
            
            .inf-curent-item{
                padding: 23px 15px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #d9d9d9;
                margin: 12px 0px;
                @include mobile {
                    overflow: hidden;
                    flex-flow: wrap;

                }
                h3{
                    margin-bottom: 0 !important;
                    font-size: 16px !important;
                    @include mobile {
                        font-size: 15px !important;
                        
                    }
                   
                }
                p{
                    padding:  0px 6px;
                    font-size: 15px;
                    @include mobile {
                        font-size: 14px !important
                    }
                }
            }
            
        }
        .profile-info-button{
            button{
                border-radius: 8px;
                padding: 8px 14px;
                border: none;
                font-size: 14px;
                color: white;
                display: flex;
                align-items: center;
            }
            button:last-child{
                margin-left: 10px   ;
            }
        }
        
    }
    form{
        div{
            h3{
                font-size: 18px;
                color: #ec4899;
            }
        }
        .name{
            display: flex;
            align-items: center;
            justify-content: space-between;
            label{
                font-size: 17px;
            }
        }
        .input-inf{
           
            label{
                font-weight: 500;
                color: #777777d9;
                font-size: 15px;
            }
        }
        input.form-submit{
            background-color: #ec4899;
            border-radius: 8px;
            padding: 6px 18px;
            color: white;
            border: none;
        }
        button{
           
            margin: 0px 11px;
            border-radius: 8px;
            padding: 6px 18px;
            color: white;
            border: none;
            background-color: cornflowerblue;
        }
    }
}