$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

p {
  margin: 0;
}
.option {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.CardPostProfile {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  box-shadow: #00000047 0px 1px 3px 0px;
  border-radius: 14px;
  width: 60%;
  margin: 30px 0px;
  overflow: hidden;
  @include mobile {
      width: 100%;
  }
  .header_post {
    width: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    .avt_user_post {
      width: 36px;
      height: 36px;
      overflow: hidden;
      border-radius: 100000px;
      border: 1px solid #429a17;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .main_header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 16px;
      color: #333;
      .name_user_post {
        font-weight: 700;
        font-size: 15px;
      }
      .create_post {
        color: #aaa;
        font-size: 13px;
      }
    }
    .dropdownOption {       
      position: absolute;
      right: 10px;
      top: 30px;
      padding: 8px;
      border-radius: 8px;
      z-index: 68;
      background-color: #fff;
      box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
      
      .item_option {
        padding: 10px 10px 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  .content_post {
    width: 100%;
    overflow: hidden;
    padding: 0px 15px;
    position: relative;
    // .header_post {
    //     position: relative;
    //     width: 100%;
    //     padding: 8px 12px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: start;
    //     .avt_user_post {
    //         width: 36px;
    //         height: 36px;
    //         overflow: hidden;
    //         border-radius: 100000px;
    //         border: 1px solid #429a17;
    //         img {
    //             width: 100%;
    //             height: 100%;
    //             object-fit: cover;
    //         }
    //     }
    //     .main_header {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         margin-left: 16px;
    //         color: #333;
    //         .name_user_post {
    //             font-weight: 500;
    //             font-size: 15px;
    //         }
    //         .create_post {
    //             color: #aaa;
    //             font-size: 13px;
    //         }
    //     }
    img {
      width: 100%;
      height: 100%;
      //max-height: 24rem;
      object-fit: cover;

    }
    p {
      margin: 0 20px 20px;
    }
  }

  .tool_post {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    
    .btn_favorite, 
    .btn_comment, 
    .btn_share {
      cursor: pointer;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 4px 10px;
      color: #656c76;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
      }

      i {
        margin-right: 4px;
      }
    }
  }

  .like_in_post {
    padding: 10px 20px;
    border-bottom: 0.5px solid #eee;
    color: 13px;
    font-weight: 300;
    cursor: pointer;
  }
  .btnCancel {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

    .img-avt {
      width: 30px;
      height: 30px;
      border-radius: 10000px;
      border: 1px solid #ddd;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
  .comment_type {
    padding: 10px;
  }
}
