$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
.pinky {
  background-color: pink !important;
}
#profile-content {
    background-color: #fafafa;
    border-radius: 14px;
    margin-top: 25px;
    padding-left: 25px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    @include mobile {
        padding-left: 0;
    }
  .profile-content-title {
    display: flex;
    margin: 50px 0px 20px 15px;
    .content-title-ab {
      padding: 2px 14px;
      margin-right: 10px;
      border-radius: 12px;
      cursor: pointer;
      background-color: #c5c5c563;
      h3 {
        font-size: 16px;
        padding: 7px 1px;
        margin-bottom: 0 !important;
      }
    }
  }
}
.profile-content-body {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  .content-body-album {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    .al-img-item {
      position: relative;
      cursor: pointer;
      margin: 10px 15px;
      width: 195px; 
      height: 240px;
      overflow: hidden;
      @include mobile {
        width: 100%;
        height: 90%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
      .al-overlay {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(171, 164, 168, 0.49);
      }
    }
    .al-img-item:hover {
      .al-overlay {
        opacity: 1;
        transition: 1s opacity;
        ul.al-overlay-list {
          height: 100%;
          justify-content: center;
          width: 100%;
          display: flex;
          margin-bottom: 0;
          align-items: center;
          li {
            display: flex;
            padding: 0px 6px;
            font-size: 17px;

            z-index: 100;
            color: white;
            align-items: center;
            p {
              color: white;
            }
            i {
              margin-right: 6px;
              color: white;
            }
          }
        }
      }
    }
  }
}
.content-body-post {
}
