$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
#profile-intro {
     width: 100%;
    height: -moz-fit-content;
    padding: 20px;
    border-radius: 14px;
    align-items: center;
    height: fit-content;
    box-shadow: rgb(99 99 99 / 15%) 0px 2px 8px 0px;
    background-color: #fafafa; 
    margin-top: 5px;
    display: flex;
    position: relative;
    @include mobile {
        flex-direction: column;
        padding: 20px 0px;
        margin-top: 25px;
        //overflow: hidden;
    }
  .pIntro-avatar {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 4px solid #fc4693;
    border-radius: 50%;
    div{
        border: 4px solid #fafafa;
        overflow: hidden;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        position: relative;
    }
    img {
        width: 100%;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        object-fit: cover;
      
    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
    }
  }
  button.btn_submit_upload {
    padding: 4px 8px;
    border-radius: 9px;
    background-color: #ec4899;
    color: white;
    margin-left: 6px;
    border: none;
  }
  .pIntro-text {
    padding: 30px 45px;
    flex: 1;
    @include mobile {
        
        margin-top: 15px;
        width: 100%;
        padding: 10px 8px;
    }
    .pIntro-name {
      h3 {
        font-size: 20px;
        font-weight: 600;
        @include mobile {
            text-align: center;
        }
      }
    }
    #pIntro{
        padding: 10px 0px 7px;
        @include mobile {
            border-radius: 10px;
            padding: 12px 8px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            margin-top: 20px;
        }
        
        
    }
    .intro-description{
        display:  flex;
        align-items: center;
        padding: 3px 0px;
    }
    .pIntro-address {
      padding: 4px 0px;
      display: flex;
      align-items: center;
      p {
        font-size: 15px;
        color: #818080;
      }
    }
    ul.pIntro-nav {
      align-items: center;
      display: flex;
      list-style: none;
      margin-top: 15px;
      @include mobile {
        justify-content: center;
      }
      
      li.addfriend {
        padding: 9px 15px;
        color: #333333cc;
        background-color: #c9c9ca9e;
        cursor: pointer;
        font-size: 14px;
        border-radius: 8px;
        p {
        }
      }
      li.sendmess {
        padding: 9px 20px;
        margin: 0px 14px;
        color: #fafafa;
        background-color: #ec4899;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        border-radius: 8px;
        i{
            font-size:17px;
        }
        p {
            margin-left: 4px;
        }
      }
      li.iconz {
        cursor: pointer;
        width: 42px;
        position: relative;
        height: 42px;
        width: 42;
        background-color: #d1d5db;
        border-radius: 50%;
        i {
          font-size: 27px;
          top: 15%;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
     .dropdown-profile{
      width: 230px;
      height: auto;
      border: 1px solid #c5c5c56b;
      padding: 12px;
      border-radius: 10px;
      background-color: #FAFAFA;
      left: 57%;
      position: absolute;
        ul{
          list-style: none;
            li{
              color: #403d3dab;
              margin: 12px 0px;
              font-size: 18px;
              font-weight: 500;
              align-items: center;
              display: flex;
              cursor: pointer;
                i{
                  margin-right: 8px;
                  font-size:24px;
                }
              &:hover{
                color: #EB2F96;
              }
          }
          }
      }
  }
}

