$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } }
#profile {
  width: 75%;
    overflow: scroll;
    padding: 0px 50px;
    top: 25px;
    flex-direction: column;
    display: flex;
    border-radius: 14px;
    position: absolute;
    left: 20%;
    height: 100%;
    @include mobile {     
        width: 100%;
        left: 0;
        top: -3%;
        padding: 0 20px;  
    }   
}
