$primaryColor: #aaa;
$primaryPadding: 4px;
$primaryBorder: 1px solid #aaa;
$textColor: #707070;

$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
.ManagePersonalCICO {
    position: relative;
    left: 6%;
    width: 94%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
 
    align-items: center;
    i {
        font-size: 42px !important;
        color: white;
    }
    .title_company {
        position: relative;
        font-size: 32px;
        color: #080f6c;
        font-weight: 700;
        margin: 30px 0;
    }
    .head {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .button_cico {
            width: fit-content;
            cursor: pointer;
            padding: 10px 15px;
            background-color: #24b856;
            border: 1px solid #aaa;
            border-radius: 12px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px 0;
            p {
                color: #eee;
                font-weight: 700;
                font-size: 18px;
                margin: 5px 0;
                @include mobile {
                    font-weight: 500;
                }
            }
        }
        .text_cico {
            color: #888;
            font-size: 14px;
            font-style: italic;
        }
    }
    .chart_cico {
        margin: 50px 0px;
        width: 60%;
        text-align: center;
        h3{
            font-size: 17px;
        }
        @include mobile {
            width: 100%;
            margin: 20px 0px;
            padding: 0px 20px;
        }
    }
    .statistic_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @include mobile {
            background-color: #fafafa;
            border-radius: 14px;
            padding: 25px 30px;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            margin-bottom: 30px;
        }
        h3 {
            color: #24a8e7;
        }
        .item_data {
            display: flex;
            flex-direction: row;
        }
        .all_cico {
            color: green;
            @include mobile {
                padding: 3px 0px;
            }
        }
        .late_cico {
            color: blue;
            p {
                margin: 0 5px;
            }
        }
        .shortage_cico {
            color: red;
        }
    }
}