.footer-nft{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
.footer__info{
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.footer__info__web{
    margin: 0 10px;

}
.footer__explain .footer__info__icon i{
    color: #ea0000;
    font-size: 30px;
}
.footer__explain .footer__info__title {
    color: #ea0000;
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
}
.footer__category .footer__info__icon i{
    color: #0084f0;
    font-size: 30px;
}
.footer__category .footer__info__title {
    color: #0084f0;
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
}
.footer_technology .footer__info__icon i{
    color: #5db100;
    font-size: 30px;
}
.footer_technology .footer__info__title {
    color: #5db100;
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
}
.footer__info__desc{
    font-size: 13px;
    font-weight: 500px;
    color: #666666;
}
.footer_more{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 50px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}
.footer_more_logo{
    width: 100%;
    max-width: 140px;
}
.footer_more_logo img{
    width: 100%;
}
.footer_more_logo p{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #999999;
    cursor: none;

}
.footer_more_game h4,
.footer_more_update h4,
.footer_more_company h4,
.footer_more_follow h4{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}
.footer_more_game ul,
.footer_more_update ul,
.footer_more_company ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.footer_more_game li,
.footer_more_update li,
.footer_more_company li{
    font-size: 13px;
    line-height: 1.8;
    font-weight: 500;
    color: #999999;
}
.footer_more_game li:hover,
.footer_more_update li:hover,
.footer_more_company li:hover,
.footer_more_follow li:hover{
    color: #333333;
    cursor: pointer;
}
.footer_more_follow ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.footer_more_follow ul li:hover{
    background-color: #333333;
    cursor: pointer;
    color: #fff;
}
.footer_more_follow ul li{
    border-radius: 4px;
    padding: 2px 6px;
    background-color: #999999;
}
.footer_more_follow ul li i{
    font-size: 14px;

}
.footer_more_img img {
    max-width: 260px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .footer-nft{
        padding: 0 20px;
    }
    .footer__info{
        flex-wrap: wrap;
    }
    .footer_more_logo ,.footer_more_game ,.footer_more_update ,.footer_more_company,.footer_more_follow ,.footer_more_img{
        width: 50%;
        margin: 10px 0;
    }
}