*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-nft{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header__main{
    max-width:1200px ;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__logo{
    
}
.header__logo img{
    width: 100px;
    max-width: 100%;
    object-fit: cover;
    float: left;
}
.header__option{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    background-color: #efefef;

}
.header__option--game{
    font-size: 11px;
    padding: 4px 10px;
    color: red;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: normal;
    box-shadow: 0 0 0 1px rgb(51 51 51 / 3%), 0 4px 6px -4px rgb(187 187 187 / 40%)
}
.header__option--video{
    margin: 0;
    font-size: 11px;


}
.header__searchbox{
    border: 1px solid #ccc;
    border-radius: 15px;
    width:42%;
    max-width: 480px;
    display: flex;
    align-items: center;
}
.header__searchbox:hover {
    background-color: #fff;
}

.header__searchbox input{
    border: none;
    width: 90%;
    outline: none;
    /* padding-bottom: 10px; */
    padding-left: 25px;
    background: transparent;
    font-weight: bold;
}

.header__searchbox .ri{
    padding-left: 20px;
    right: 20px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.header__category{
    display: flex;
}
.header__category--new{
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background-color: #efefef;
    border-radius: 10px;
    margin-right: 20px;
}
.header__category--new h3{
    font-size: 13px;
    color: #000;
    margin: 0 10px;
    cursor: pointer;

}
.header__category--new:hover  ,
.header__category--list:hover {
    color: red  !important;

}
.header__user--info:hover{
    color: red;
}

.header__category--list{
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background-color: #efefef;
    border-radius: 10px;
    margin-right: 20px;
}
.header__category--list i{
    font-size: 16px;
}
.header__category--list h3{
    font-size: 13px;
    color: #000;
    margin: 0 10px;
    cursor: pointer;

}
.header__user{
    display: flex;
    align-items: center;
}
.header__user--avata img  {
    width: 44px;
    border-radius: 10px;
}
.header__user--info ,.header__user--language{
    max-width: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 11px;
    margin-left: 10px;
    background-color: #efefef;
    border-radius: 10px;
}
.header__user--info{
    /* padding: 6px 0; */

}
.header__user--info a i{
    font-size: 20px;
    color: #999999;
}
.header__user--language{
    color: red;
}
.dropdown-menu.user--avata{
    inset: 52px auto auto -48px !important;
    border-radius: 6px !important;
    z-index: 10 !important;
}
.dropdown-menu.user--avata li a{
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 10px 10px;
}
.dropdown-menu.user--avata li{
    /* margin: 2px 0; */
    padding: 0;
}
.dropdown-menu.user--avata li a p{
    color: red;
}
.dropdown-menu.user--avata li:first-child{
    border-bottom: 1px solid #ccc;
}
.dropdown-menu.user--info{
    width: 100%;
    min-width: 400px;
    padding: 10px 0 0 0;
    inset: 50px auto auto -280px;
    border-radius: 10px !important;
    overflow: hidden;
}
.dropdown-menu.user--info h5{
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #ccc; */
}
.dropdown-menu.user--info form{
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    max-width: 500px;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    margin: 0;
}
.dropdown-menu.user--info form p{
    margin: 0 10px;
}
.dropdown-menu.user--info form input{
    margin: 10px;
    border: none;
    background-color: #f3f3f3;
    width: 90%;
    padding: 10px 0;
    border-radius: 4px;
}
.dropdown-menu.user--info form button{
    padding: 10px 4px;
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #d60000 !important;
}
.dropdown-menu.user--info form button:hover{
    background-color: #bd0000 !important
}

.dropdown-menu.user--info .warrning{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #999999;
    width: 100%;
}
.nav-item.dropdown.header__user--info::before{
    content: "";
    position: absolute;
    top: 30px;
    left: auto; /*change here*/
    right: 0;/*change here*/
    width: 100%;
    height: 100%;
    background-color: transparent;
}

@media screen and (max-width: 1200px){
    .header__main{
        padding: 0 40px;
        padding-bottom: 10px;
    }
    .header__option,
    .header__category
    {
        margin:0 5px;
    }

}
@media screen and (max-width: 1024px){

    .header__option,
    .header__category
    {
        display: none;
    }
}
@media only screen and (min-width: 768px) {


}