.ModalCustom {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    //background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.18);
    .modalContentChild {
        border-radius: 12px;
        overflow: hidden;
        background-color: #fefefe;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        border: 1px solid #ccc;
        width: auto;
        height: auto;
        max-width: fit-content;
        max-height: 80%;
    }
    
}
