@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,800;1,100;1,400&display=swap');

.detail{
    width: 100%;
    margin-top: 80px;
    padding: 20px 20px;
    background-color: #b8deda;
    
}
.detail__item{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.detail__item__title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(60 2 247);
    font-family: 'Raleway', sans-serif;
}
.info__item{
    background-color: #ccc;
    border-radius: 8px;
    padding: 20px;
}
.detail__item__name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.detail__item__info{
    display: flex;
}
.review__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review__item img{
    width: 100%;
    max-width: 300px;
}
.star__item{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
.star__item i{
    font-size:20px ;
    margin: 0 2px;
}
.star__item i:nth-child(1),
.star__item i:nth-child(2),
.star__item i:nth-child(3),
.star__item i:nth-child(4){
    color: yellow;
}
.description__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px; 
}
.description__item p{
    font-size: 16px;
}
.description__item .score{
    font-size: 16px;

}
.description__item .score span{
    font-size: 20px;
    color: red;
}
.btn__select{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.btn__select button{
    width: 40%;
    padding: 10px 0;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.btn__item__changes {
    background-color: #2bf107;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn__item__cancel{
    background-color: #ff49e7;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn__item__changes:hover {
    background-color: #23ba07;
    cursor: pointer;
    color: #fff;

}
.btn__item__cancel:hover{
    cursor: pointer;
    background-color: #f402d4;
    color: #fff;
}
