
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
.main__items{
    /* position: relative; */
    width: 100%;
    margin-top: 80px;
    background-color: #ccc;
    padding: 20px 20px;
}
.content__items{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.content__items h2{
    text-align: center;
    color: rgb(0 128 255);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.content__infor{
    display: flex;
    width: 100%;
    background-color: #fafff9;
    padding: 20px 0;
    border-radius: 8px;
}
.content__infor img{
    width: 100%;
    max-width: 100px;
    margin: 0 20px;
    border-radius: 10px;
}
.infor__user{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}
.infor__user p{
    width: 30%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.infor__user p span{
    color: red;
}
.infor__user p i{
    font-size: 20px;
}
.infor__user p i:hover{
    color: aqua;
}
.all__items{
    width: 100%;
    max-width: 1200px;
    margin: 10px 0;
    background-color: #fafff9;
    border-radius: 8px;
} 
.items__list{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.items__changes{
    width: 30%;
    text-align: center;
    margin: 20px 0;
}
.items__changes img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.items__changes img:hover{
    transform: scale(1.1)
}
.items__name{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 10px;
}
.items__price{
    font-size: 14px;
    font-weight: 600;
}
.items__price span{
    color: red;
}
.btn__item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.btn__item button {
    width: 40%;
    padding: 6px 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    
}
.btn__item__changes {
    background-color: #2bf107;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn__item__view{
    background-color: #ffe802;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn__item__changes:hover {
    background-color: #23ba07;
    cursor: pointer;
}
.btn__item__view:hover{
    cursor: pointer;
    background-color: #c8b605;
}

.btn__item__view a{
    list-style: none;
    /* padding: 8px 41px; */
}
@media screen and (max-width: 1024px){

}

@media screen and (max-width: 992px){
    .items__changes{
        width: 40%;
    }
    .infor__user p {
        width: 40%;
        margin: 4px;
    }
}

@media screen and (max-width: 768px){
    .content__infor img{
        width: 30%;
        max-width: 1200px;}
       
    .items__changes{
        width: 80%;
    }
    .infor__user p {
        width: 60%;
        margin: 4px;
    }
}