.success_Change{
    width: 50%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 20px;
}