.notifications_board {
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 15px;

    &::-webkit-scrollbar {
      width: 6px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .header_noti {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      color: red;

      .active {
        background: rgb(233, 233, 233);
        padding: 8px;
        border-radius: 8px;
      }
    }

    .list_noti {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        .each_noti {
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: black;
            border-bottom: 1px solid rgb(229, 229, 229);

            &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 6px;
            cursor: pointer;
            }

            .main_each_noti {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-self: center;
                font-size: 12px;
                color: #aaa;
                

                p:first-child {
                    color: black;
                    font-size: 14px;
                }
                
                .request_add_friend {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    button {
                    padding: 5px 15px;
                    border: 1px solid #aaa;
                    background-color: #59cd75;
                    color: white;
                    cursor: pointer;
                    }
                }
            }   
        }
    }
}