.footer-common {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 30px;
    padding: 20px;
    font-size: 20px;
    @media (max-width: 576px) {
        font-size: 12px !important;
        margin: none !important;
        justify-content: center;
        .footer_copy {
            display: none !important;
        }
    }
    @media (max-width: 1024px) {
        font-size: 14px;
    }

    .footer__list {
        list-style: none;
        display: flex;
        margin: 0;

        .footer__item {
            margin: 0 10px;
        
           a {
               text-decoration: none;
               color: #000;
           } 
        }
    }
}