.main__content{
    width: 100%;
    background-color: #f1f1f1;
    padding: 6px 0;
    margin-top: 80px;
}
.container_container__main{
    width: 100%;
    /* background-color: #f1f1f1; */
    /* position: relative; */
    /* height: 20vh;  */
}
.main{
    max-width: 1200px ;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    /* position: absolute; */
    /* top:4%;
    left: 50%;
    transform: translateX(-50%); */
    border-radius: 10px;
}
.main__category{
    padding-top: 10px;
}
.main__hastag{
    padding-bottom: 1px;
}
.main__category,.main__hastag{
    width: 100%;
}
/* .category__list{
    width: 100%;
    padding: 10px 10px;
} */
.category__list{
    display: flex;
    /* list-style: none; */
    list-style-type: none;
    /* justify-content: space-between; */
}
/* .category__list:hover{
    color: red;
} */
.category__list li, .hastag__list__item{
    border-radius: 14px;
    margin: 0 6px;
    padding: 0 6px;
    animation: all ease-in 0.8s;
}
.category__list li:hover ,
.hastag__list__item:hover,
.searchtop__item:hover{
    transform: translateY(-2px);
    /* transform: translate(-2px , -2px); */
    cursor: pointer;

}
.category__list__item{
    display: flex;
    /* align-items: center; */
    margin-right: 10px;
    padding-top: 6px;
}
.category__list__item i {
    font-size: 20px;
    margin-right: 4px;
    color: #fff;

}
.item__info{
    text-align: center;
}
.item__info h5{
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: #fff;
}
.item__info p {
    font-size: 10px;
    font-weight: 700;
    margin-top: 1px;
    color: #fff;
}
.category__list li:nth-child(1){
    background-color: #d28558;
    box-shadow: 0 8px 18px -8px rgb(210 133 88 / 70%);
}
.category__list li:nth-child(2){
    background-color: #ff5b88;
    box-shadow: 0 8px 18px -8px rgb(255 91 136 / 70%);
}
.category__list li:nth-child(3){
    background-color: #cb7df6;
    box-shadow: 0 8px 18px -8px rgb(203 125 246 / 70%)
}
.category__list li:nth-child(4){
    background-color: #00c1d5;
    box-shadow: 0 8px 18px -8px rgb(0 193 213 / 70%)
}
.category__list li:nth-child(5){
    background-color: #40c914;
    box-shadow: 0 8px 18px -8px rgb(64 201 20 / 70%);
}
.category__list li:nth-child(6){
    background-color: #50a9f9;
    box-shadow: 0 8px 18px -8px rgb(80 169 249 / 70%);
}
.category__list li:nth-child(7){
    background-color: rgba(0,0,0,0.06);;
    
}
.category_all{
    color: #000;
    font-size: 13px;
    font-weight: bold;
    line-height: 2.2;
    padding: 0 10px;
}
.hastag__list{
    display: flex;
    list-style-type: none;
    /* padding: 10px 0; */
}
.hastag__list__item{
    background-color: #fff;
    padding: 4px 8px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 18px -8px rgba(227, 237, 245, 0.7);;
}
.hastag__list__item h5{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}
.hastag__list__item p{
    font-size: 10   px;
    font-weight: bold;
    line-height: 10px;
}
.hastag__list__item:first-child h5{
    color: #777;
}
.hastag__list__item:first-child p{
    color: #777;
}
.hastag__list__item:nth-child(2) h5{
    color: #b67854;
}
.hastag__list__item:nth-child(2) p{
    color: #b67854;
}
.hastag__list__item:nth-child(3) h5{
    color: #6e6ebb;
}
.hastag__list__item:nth-child(3) p{
    color: #6e6ebb;
}
.hastag__list__item:nth-child(4) h5{
    color: #d95485;
}
.hastag__list__item:nth-child(4) p{
    color: #d95485;
}
.hastag__list__item:nth-child(5) h5{
    color: #b67854;
}
.hastag__list__item:nth-child(5) p{
    color: #b67854;
}
.hastag__list__item:nth-child(6) h5{
    color: #d77b53;
}
.hastag__list__item:nth-child(6) p{
    color: #d77b53;
}
.hastag__list__item:nth-child(7) h5{
    color: #b67854;
}
.hastag__list__item:nth-child(7) p{
    color: #b67854;
}
.hastag__list__item:nth-child(8) h5{
    color: #d74552;
}
.hastag__list__item:nth-child(8) p{
    color: #d74552;
}
.hastag__list__item:nth-child(9) h5{
    color: #b67854;
}
.hastag__list__item:nth-child(9) p{
    color: #b67854;
}
.hastag__list__item:nth-child(10) h5{
    color: #55bdba;
}
.hastag__list__item:nth-child(10) p{
    color: #55bdba;
}
.hastag__list__item:nth-child(11) h5{
    color: #29a7b4;
}
.hastag__list__item:nth-child(11) p{
    color: #29a7b4;
}
.hastag__list__item:nth-child(12) h5{
    color: #6e6ebb;
}
.hastag__list__item:nth-child(12) p{
    color: #6e6ebb;
}
.main__seachtop{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.seachtop{
    display: flex;
    margin-left: 22px;
    padding: 10px 6px;
}
.seachtop h4{
    font-size: 12px;
    color: #777;
    line-height: 2.4;
    font-weight: bold;
}
.searchtop__list{
    display: flex;
    list-style-type: none;
    margin: 0;
}
.searchtop__list li{
    margin: 0 4px;
    border: 1px solid #ccc;
    padding: 4px 10px;
    border-radius: 10px;
    box-shadow: 2px 8px 18px -8px rgba(227, 237, 245, 0.7);;
}
.searchtop__list li h5{
    color: #777;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.6;
    margin: 0;
}
.searchtop__list li:first-child{
    background-color: #cccc;
    padding: 6px 10px
}
.searchtop__list li:last-child{
    background-color: #cccc;
    padding: 6px 10px
}
.searchtop__list li i:first-child{
    color: red;
    margin-right: 2px;
}
.content__game{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.title__game{
    font-size: 24px;
    font-weight: bold;
}
.game__list{
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.game__item{
    width: 100%;
    max-width: 180px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}

.game__item__img{
    width: 100%;
    max-width: 180px;
    height: 180px;
    object-fit: cover;
}
.game__info{
    margin: 10px 10px;
}
.game__name{
    font-size: 14px;
    font-weight: bold;
    line-height: 0.8;
}
.game__source{
    font-size: 12px;
    font-weight: bold;
    line-height: 0.8;
    color: red;
}
.game__view{
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
}
.game__view span{
    color: #549f02;
}
.content__selectpage{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
.content__selectpage button{
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 50%;
    background-color: #999;
}
.content__selectpage button i{
    font-size: 16px;
}
.list__page{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: #999;
    border-radius: 20px;
    /* overflow: hidden; */
}
.list__page li {
    padding: 8px 18px;

}
.list__page li:first-child {
    background-color: #000;
    color: #fff;
    border-radius: 6px;
}
.content__description{
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    margin-top: 30px;
}
.content__description h2 {
    font-size: 22px;
    color: #666666;
    font-weight: 800;
    line-height: 24px;

}
.content__description p {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
}
@media screen and (max-width: 1200px){
    .category__list li:nth-child(5),
    .category__list li:nth-child(6),
    .hastag__list__item:nth-child(9),
    .hastag__list__item:nth-child(10),
    .hastag__list__item:nth-child(11),
    .searchtop__list li:nth-child(6),
    .searchtop__list li:nth-child(7),
    .searchtop__list li:nth-child(8),
    .searchtop__list li:nth-child(9)
    {
        display: none;

    }
    .main__content{
        padding: 0 40px;
    }
    .game__item{
        margin: 0 4px;
    }
    
    
}
@media screen and (max-width: 1024px){
    .main__content{
        padding: 10px 40px;
    }
    .header__option,
    .header__category
    {
        display: none;
    }
    .hastag__list__item:nth-child(8),
    .searchtop__list li:nth-child(10),
    .searchtop__list li:nth-child(11)
    {
        display: none;

    }
    .game__item{
        width: 22%;
        margin: 10px 0 !important;
        text-align: center;

    }
    .game__item__img{
        width: 100%;
    }
    .content__selectpage{
        /* width: 50% !important; */
        padding: 0 50px;
        margin: 0 20px;
    }
    .content__selectpage button,
    .list__page li {
        padding: 2px 10px;

    }
   


}
@media screen and (max-width: 768px){

    .item__page:nth-child(3),.item__page:nth-child(4),.item__page:nth-child(5),.item__page:nth-child(7),.item__page:nth-child(8){
        color: red;
        display: none;
     }

    .game__item{
        margin: 0 !important;
        width: 50% ;
    }
    
    .category__list li:nth-child(3),
    .category__list li:nth-child(4),
    .hastag__list__item:nth-child(4),
    .hastag__list__item:nth-child(5),
    .hastag__list__item:nth-child(6),
    .searchtop__list li:nth-child(7),
    .searchtop__list li:nth-child(4),
    .searchtop__list li:nth-child(5)

    {
        display: none;

    }
    .main__seachtop{
        display: none;
    }
}