.UnjoinedCompanyScreen {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .container_all_company {
        margin: 25px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        .each_company {
            cursor: pointer;
            position: relative;
            width: 200px;
            height: 80px;
            border: 1px solid #aaa;
            margin: 0 20px;
            border-radius: 8px;
            padding: 10px 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px 0px;
            background-color: #24a818;
            color: white;
            text-align: center;
            p:first-child {
                font-weight: bold !important;
                font-size: 18px !important;
                color: white !important;
            }
            p {
                font-size: 12px;
                color: #bbb;
            }
        }
        .each_company:hover {
            box-shadow: 2px 3px #24f838;
        }
    }
}