/* 
.login {
    margin: 0 auto;
    width: 660px;
    padding: 60px;

    p {
        font-size: 18px;
        margin: 0 0 8px;
    }

    form {

        > input {
            display: block;
            width: 100%;
            background-color: #e5e7eb;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            margin: 0 0 8px;
            padding: 16px 20px;
            font-size: 20px;
        }

        .login__help {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            align-items: center;
    
            .form-check {
                margin: 16px 0;
    
                .form-check-input {
                    padding: 0;
                    margin-bottom: 0;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    border-color: #be185d;
                    background-color: transparent;
                    transition: 0.3s;
                    border: 2px solid #b4b4b4;
                    margin-right: 5px;
    
                    &:checked {
                        background-color: #be185d;
                    }
                }
        
                .form-check-label {
                    margin: 0;
                }
            }
        }

        .login__button {
            background-image: linear-gradient(to bottom right, #ec4899, #f87171);
            border: none;
            outline: none;
            padding: 12px 0;
            width: 100%;
            border-radius: 8px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 16px;
        }
    }

    .login__regis {
        text-align: center;
        font-size: 18px;
    }


} */

.LoginScreen {
    position: relative;
    .bg_img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -5;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}